/*Farvepalette HEX koder: Sort: 171616 Rød: DB0010 Hvid: FFFFFF Orange: F74C08 Sortgrå: 363232 */


/* Style for body header footer */
body {
    background-color:#363232;
    color:#FFFFFF;
}

header {
    background:#171616;
    text-align: left;
    position: static;
    top: 0;
    z-index: 10px;
    height: 5cm 0;
    padding: 10px;
    width: 100%;
    display: grid;
}

.logo_img {
    width: 180px;
    height: auto;
}

.logo-link {
    text-decoration: none;
    pointer-events: auto;
}

.logo-link:hover .logo_img {
    opacity: 0.10;
    transition: opacity 0.5s ease;
}

h1 {
    font-family: 'Michroma';
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Michroma';
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'Michroma';
}


nav ul {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    list-style: none;
    display: flex;
    gap: 1rem;
    top: 0;
    right: 0;
}

nav ul li a {
    font-family: 'Michroma';
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    text-decoration: none;
    transition: color 0.9s, transform 0.9s ease;
}

nav ul li a:hover {
    color: #171616;
    transform: scale(1.1);
}

.image-row-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.image-row {
    flex: 33.33%;
    padding: 5px;
}

.text-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;

}

.projekt_img {
    width: 30px;
    height: auto;
    transition: transform 0.1s ease, box-shadow 0.1s ease;

}

.projekt_img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(23, 22, 22, 0.5);
}


/* Kontakt formular style*/ 
input[type=text], select, textarea { 
    width: 100%; /* bredde af tekstbokse */ 
    padding:10px; /* højden af tekstbokse */ 
    border: 2px solid #3f3832; /* kanten rundt om tekstbokse */ 
    border-radius: 6px; /* Runde hjørner */ 
    box-sizing: border-box; /* Padding og width bliver på sin plads */ 
    margin-top: 5px; /* Tilføj top margin */ 
    margin-bottom: 16px; /* Bottom margin */ 
    resize: vertical /* Tillad brugeren at resize tekstområde (ikke horisontalt) */ 
} 

/* Send besked knap style */ 
input[type=submit] { 
    background-color: #F74C08; 
    color: #171616; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
} 

/* Send besked knap hover */ 
input[type=submit]:hover { 
    background-color: #3f3832; 
    opacity: 0.5; 
}

img {
    width: 200px;
    height: 200px;
}

#billede_ommig {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
}

.image-text-container {
/* container til tekst og billede*/
display: flex;
align-items: center;
gap: 10px;

}

/* Forside styling */

#intro {
    background-color: #171616;
    color: #F74C08;
}

#intro h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 48px;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase; /*versaler*/
}

#intro p {
    font-family: 'Michroma' , sans-serif;
    font-size: 20px;
    margin: auto;
    font-weight: 300;
    text-align: center;
}

/*Billede container*/
.image-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.intro-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


footer {
    text-align: right;
    background: #171616;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
